@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.App {
  text-align: center;
}

body {
  background: #88bef5;
  color: #000000;
  font-family: "Fondamento", cursive;
}

.row {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background: #cabbe9;
  color: #1e6262;
  border: 4px solid #0e153a;
}

.heading {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  line-height: 140px;
  letter-spacing: 4px;
  text-align: center;
  color: #071a52;
  /* width: 80%; */
}

.newConfirmed,
.totalConfirmed,
.NewDeaths,
.totalDeaths,
.totalRecovered {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  border-spacing: 0 13px;
  border-collapse: separate;
  width: 80%;
}

table thead tr {
  background: palegreen;
  color: #000;
}

table thead tr th {
  padding: 12px;
}

table tbody tr td {
  padding: 12px;
  text-align: left;
}
